<div class="content">
    <a (click)="openModal()" class="btn btn-primary float-end"><span class="fas fa-plus"></span> Nova Turma</a>
    <h1><span class="fas fa-calendar-days"></span> Próximas <span class="active">Turmas</span></h1>

    <p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
    labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
    animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
    aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
    pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit
    culpa duis.</p>
    

    <div class="row mt-3">
      <div class="col-md-4">
        <div class="input-group">
          <input #curso type="text" class="form-control form-control-sm" placeholder="Curso" (keydown.enter)="filtrar(curso.value)">
          <button class="btn btn-secondary btn-sm" type="button" (click)="filtrar(curso.value)" ><span class="fas fa-filter"></span> Filtrar</button>
          &nbsp;
          <button class="btn btn-secondary btn-sm" type="button" (click)="zerarFiltro()" ><span class="fa-solid fa-broom"></span> Limpar</button>
        </div>
      </div>
    </div>

    <table class="table table-striped table-hover mt-3">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Início</th>
          <th>Carga horária</th>
          <th>Duração</th>
          <th>Valor</th>
          <th>Dificuldade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turma of turmas">
          <td>
            <a routerLink="/cursos/{{ turma.curso }}">{{ turma.cursoNome }}</a>
          </td>
          <td>{{ turma.inicio }}</td>
          <td>{{ turma.cargaHoraria }}</td>
          <td>{{ turma.duracao }}</td>
          <td>{{ turma.valor }}</td>
          <td>
            <span class="badge" [ngClass]="{'text-bg-success' : turma.dificuldade == 1 || turma.dificuldade == 2,
                                            'text-bg-warning' : turma.dificuldade == 3,
                                            'text-bg-danger' : turma.dificuldade == 4 || turma.dificuldade == 5
                                            }"
                                            >{{ turma.dificuldade }} / 5</span>
          </td>
          <td>
            <!-- <a routerLink="edit/{{ turma.id }}" class="btn btn-primary btn-sm"><span class="fas fa-pen-to-square"></span></a> -->
            <a (click)="openModal(turma)" class="btn btn-primary btn-sm"><span class="fas fa-pen-to-square"></span></a>
            <button class="btn btn-danger btn-sm"><span class="far fa-trash-can"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>