<app-spin *ngIf="spin"></app-spin>
<div class="content">
  
    <a routerLink="novo" class="btn btn-primary float-end"><span class="fas fa-plus"></span> Novo Curso</a>
    <h1><span class="fas fa-code"></span> Nosso <span class="active">Cursos</span></h1>

    <div *ngIf="erro" class="alert alert-danger" role="alert">
    Não foi possivel conectar na fonte de dados!
    {{ erro }}
    </div>

    <div *ngFor="let curso of cursos" class="card">
       
      <div class="delete-confirm" *ngIf="curso.id == deleteConfirmId">
        <p>Tem certeza?</p>
        <button (click)="remove(curso.id)" class="btn btn-light">Excluir</button>
        <button (click)="deleteCancel()" class="btn btn-outline-light">Cancelar</button>
      </div>

      <div class="adm">
        <a routerLink="edit/{{ curso.id }}" class="edit"><span class="fas fa-pen-to-square"></span></a>
        <a (click)="deleteConfirm(curso.id)" class="delete"><span class="far fa-trash-can"></span></a>
      </div>
      <div class="card-body">
        <img src="{{ curso.thumb }}" alt="" *ngIf="imgExtensions.includes(curso.thumb.slice(-4))">
      </div>
      <h5 class="card-title">{{ curso?.nome }}</h5>
      <div class="d-grid">
        <a routerLink="{{ curso?.id }}" class="btn btn-dark btn-primary-hover">Visualizar</a>
      </div>
    </div>

  </div>