<app-spin *ngIf="spin"></app-spin>
<div class="modal-header">
  <h1><span class="fas fa-calendar-days"></span> CADASTRANDO/EDITANDO Turma <span class="active">#2</span></h1>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="formulario">  
    <div class="row">
      <div class="col-md-3">
        <label>Curso</label>
        <select (change)="changeCursos()" formControlName="curso" class="form-control form-control-sm">
          <option value="" selected >Escolha...</option>
          <option *ngFor="let curso of cursos" value="{{ curso.id }}">{{ curso.nome }}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label>Início</label>
        <input type="text" formControlName="inicio" class="form-control form-control-sm" />
      </div>
      <div class="col-md-3">
        <label>Carga horária</label>
        <input type="text" formControlName="cargaHoraria" class="form-control form-control-sm" />
      </div>
      <div class="col-md-3">
        <label>Duração</label>
        <input type="text" formControlName="duracao" class="form-control form-control-sm" />
      </div>
      <div class="col-md-3">
        <label>Valor</label>
        <input type="text" formControlName="valor" class="form-control form-control-sm" />
      </div>
      <div class="col-md-3">
        <label>Dificuldade</label>
        <input type="text" formControlName="dificuldade" class="form-control form-control-sm" />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" (click)="onSubmit()"><span class="fas fa-floppy-disk"></span> Salvar</button>
  <button class="btn btn-danger" (click)="activeModal.dismiss('cancelar')"><span class="fas fa-times"  ></span> Cancelar</button>
</div>
<!--
<div class="content">
    <h1><span class="fas fa-calendar-days"></span> CADASTRANDO/EDITANDO Turma <span class="active">#2</span></h1>

    <form [formGroup]="formulario">
      <div class="row">
        <div class="col-md-3">
          <label>Curso</label>
          <select (change)="changeCursos()" formControlName="curso" class="form-control form-control-sm">
            <option value="" selected >Escolha...</option>
            <option *ngFor="let curso of cursos" value="{{ curso.id }}">{{ curso.nome }}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>Início</label>
          <input type="text" formControlName="inicio" class="form-control form-control-sm" />
        </div>
        <div class="col-md-3">
          <label>Carga horária</label>
          <input type="text" formControlName="cargaHoraria" class="form-control form-control-sm" />
        </div>
        <div class="col-md-3">
          <label>Duração</label>
          <input type="text" formControlName="duracao" class="form-control form-control-sm" />
        </div>
        <div class="col-md-3">
          <label>Valor</label>
          <input type="text" formControlName="valor" class="form-control form-control-sm" />
        </div>
        <div class="col-md-3">
          <label>Dificuldade</label>
          <input type="text" formControlName="dificuldade" class="form-control form-control-sm" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success" (click)="onSubmit()"><span class="fas fa-floppy-disk"></span> Salvar</button>
          <button class="btn btn-danger"><span class="fas fa-times"></span> Cancelar</button>
        </div>
      </div>
    </form>
    
  </div>
  -->