<div class="container-fluid">

  <div class="menu">
    <div class="logo">
      <img src="assets/images/logo.png" alt="">
    </div>
    <nav>
      <ul>
        <li><a routerLink=""><span class="fas fa-house"></span> Home</a></li>
        <li><a routerLink="turmas" routerLinkActive="active"><span class="fas fa-calendar-days"></span> Turmas</a></li>
        <li><a routerLink="cursos" routerLinkActive="active"><span class="fas fa-code"></span> Cursos</a></li>
        <li><a routerLink="professores" routerLinkActive="active"><span class="fas fa-trophy"></span> Professores</a></li>
        <!-- <li><a href="alunos.html"><span class="fas fa-user"></span> Alunos</a></li> -->
        <li><a href="fale-conosco.html"><span class="fas fa-address-book"></span> Fale conosco</a></li>
      </ul>
    </nav>
  </div>

  <router-outlet></router-outlet>
  
</div>